{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
  <style>
    @media (max-width: 767px) {
      .carousel-inner .carousel-item > div {
        display: none;
      }

      .carousel-inner .carousel-item > div:first-child {
        display: block;
      }
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev,
    .carousel-inner .carousel-item.active {
      display: flex;
    }

    /* medium and up screens */
    @media (min-width: 768px) {

      .carousel-inner .carousel-item-end.active,
      .carousel-inner .carousel-item-next {
        transform: translateX(25%);
      }

      .carousel-inner .carousel-item-prev,
      .carousel-inner .carousel-item-start.active {
        transform: translateX(-25%);
      }
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
      transform: translateX(0);
    }
  </style>
{% endblock css %}

{% block content %}
  <!-- 영화 리스트 -->

  <div class="row my-3">
    <h4 class="fw-bold mx-2">최신 영화</h4>
    <div class="row  justify-content-center">
      <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for movie in movies %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} ">
              <div class='col-3'>
                <div class='card mx-2 border-0'>
                  <div class="d-flex flex-column align-items-center">
                    <a href="{% url 'reviews:movie_detail' movie.pk %}">
                      <img class='rounded' style='width:19rem; height:27rem;' src="{{ movie.image.url }}" alt="{{ movie.image }}">
                    </a>
                  </div>
                  <h5 class='fst-italic m-0'>{{ movie.title }}
                    <span style="font-size:1rem;">({{ movie.opening_date.year }})</span></h5>
                  <p style="font-size:0.8rem;" class='text-secondary m-0'>
                    평균
                    <i class="bi bi-star-fill me-1"></i>{{ movie.all_avg|floatformat }}</p>
                  <p style="font-size:0.8rem;" class='text-secondary'>
                    리뷰
                    {{ movie.review_set.count }}개
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <h4 class="fw-bold mx-2">평점 순</h4>
    <div class="row  justify-content-center">
      <div id="recipeCarousel1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for movie in rank_movies %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} ">
              <div class='col-3'>
                <div class='card mx-2 border-0'>
                  <div class="d-flex flex-column align-items-center">
                    <a href="{% url 'reviews:movie_detail' movie.pk %}">
                      <img class='rounded' style='width:19rem; height:27rem;' src="{{ movie.image.url }}" alt="{{ movie.image }}">
                    </a>
                  </div>
                  <h5 class='fst-italic m-0'>{{ movie.title }}
                    <span style="font-size:1rem;">({{ movie.opening_date.year }})</span></h5>
                  <p style="font-size:0.8rem;" class='text-secondary m-0'>
                    평균
                    <i class="bi bi-star-fill me-1"></i>{{ movie.all_avg|floatformat }}</p>
                  <p style="font-size:0.8rem;" class='text-secondary'>
                    리뷰
                    {{ movie.review_set.count }}개
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev bg-transparent" href="#recipeCarousel1" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent" href="#recipeCarousel1" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
  <h4 class='fw-bold'>모든 영화</h4>
  <hr>
  <div class='row'>
    {% for movie in movies %}
      <div class='col-2 text-center mb-3'>
        <a href="{% url 'reviews:movie_detail' movie.pk %}"><img class='w-100 h-100 rounded' src="{{ movie.image.url }}" alt="{{ movie.image }}"></a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block script %}
  <script>
    let items = document.querySelectorAll('.carousel .carousel-item')
    items.forEach((el) => {
      const minPerSlide = 4
      let next = el.nextElementSibling
      for (var i = 1; i < minPerSlide; i++) {
        if (!next) {
          // wrap carousel by using first child
          next = items[0]
        }
        let cloneChild = next.cloneNode(true)
        el.appendChild(cloneChild.children[0])
        next = next.nextElementSibling
      }
    })
  </script>
{% endblock script %}