{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>index</h1>
  <!-- 영화 리스트 -->
  <div class="row">
    {% for movie in movies %}
      <!-- 영화포스터이미지에 링크 -->
      <div class='col-3 my-2'>
        <div class='card'>
          <a href="{% url 'reviews:movie_detail' movie.pk %}"><img class='card-img-top rounded' src="{{ movie.image.url }}" alt="{{ movie.image }}"></a>
          <div class='card=body'>
            <h5 class='card-title text-center fst-italic'>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}