{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>{{ movie.pk }}
    번째 영화</h1>
  <h3>{{ movie.title }}
    |
    {{ movie.producer }}
    |
    {{ movie.opening_date }}</h3>
  <img src="{{ movie.image.url }}" alt="{{ movie.image }}">
  <p>{{ movie.content }}</p>
  <p>{{ movie.cast }}</p>
  <a href="{% url 'reviews:review_create' movie.pk %}">리뷰 작성</a>

  <h3>리뷰 목록</h3>
  <hr>

  {% for review in reviews %}
    <p>
      <a href="{% url 'reviews:review_detail' movie.pk review.pk %}">{{ review.title }}</a>
      |
      {{ review.movie.title }}
      |
      {{ review.user.username }}
      |
      {{ review.created_at }}
      |
    </p>
    <hr>
  {% endfor %}
{% endblock content %}