{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>{{ movie.pk }}
    번째 영화</h1>
  <div class="d-flex justify-content-between">
    <h3>{{ movie.title }}
      |
      {{ movie.producer }}
      |
      {{ movie.opening_date }}</h3>
    {% if request.user.is_superuser %}
      <!-- 로그인한 사람이 관리자이면 수정 버튼 생성 -->
      <a href="{% url 'reviews:movie_update' movie.pk %}">수정</a>
    {% endif %}
  </div>
  <img src="{{ movie.image.url }}" alt="{{ movie.image }}">
  <p>{{ movie.content }}</p>
  <p>{{ movie.cast }}</p>
  <a href="{% url 'reviews:review_create' movie.pk %}">리뷰 작성</a>
  <h3>리뷰 목록</h3>
  <hr>
  {% for review in reviews %}
    <p>
      <a href="{% url 'reviews:review_detail' movie.pk review.pk %}">{{ review.title }}</a>
      |
      {{ review.movie.title }}
      |
      {{ review.user.username }}
      |
      {{ review.created_at }}
    </p>
    <hr>
  {% endfor %}
{% endblock content %}