{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <h1>리뷰 수정</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form review_form %}
    <label for="grade">평점</label>
    <select id="grade" name="grade" class="form-select" aria-label="Default select example">
      <option selected="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input class="my-3 btn btn-outline-dark" type="submit">
  </form>
{% endblock content %}