{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <h1>review_detail</h1>
  <h3>{{ review.title }}
    <span>{{ review.movie.title }}</span></h3>
  <h5>평점 :
    {{ review.grade }}점 |
    {{ review.created_at }}</h5>
  <p>{{ review.content }}</p>
  {% if request.user.is_authenticated %}
    <div class="d-flex justify-content-center">
      <div class="border rounded p-2">
        <a class="text-decoration-none" href="{% url 'reviews:like' review.pk %}">
          {% if request.user in review.like_users.all %}
            <i class="bi bi-suit-heart-fill text-danger fs-2"></i>
          {% else %}
            <i class="bi bi-suit-heart text-danger fs-2"></i>
          {% endif %}
        </a>
        <span class="text-center fs-2 ms-2">{{ review.like_users.count }}</span>
      </div>
    </div>
    {% if review.user == request.user %}
      <a href="{% url 'reviews:review_update' review.pk %}">수정</a>
      <form action="{% url 'reviews:review_delete' review.movie.pk review.pk %}">
        {% csrf_token %}
        <input type="submit">
      </form>
    {% endif %}
  {% endif %}
  <form action="{% url 'reviews:comment_create' review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <input type="submit">
  </form>
  <hr>
  {% for comment in comments %}
    <div class='d-flex align-items-center'>
      <p class='my-0'>{{ comment.user }}
        |
        {{ comment.created_at }}
        {% if request.user.is_authenticated %}
          <a class="text-decoration-none" href="{% url 'reviews:comment_like' comment.pk %}">
            {% if request.user in comment.like_users.all %}
              <i class="bi bi-hand-thumbs-up-fill"></i>
            {% else %}
              <i class="bi bi-hand-thumbs-up"></i>
            {% endif %}
          </a>
          <span>{{ comment.like_users.count }}</span>
        {% endif %}
      </p>
      {% if comment.user == request.user %}
        <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input class='btn text-danger' type="submit" value='삭제'>
        </form>
      {% endif %}
    </div>
    <p>{{ comment.content }}</p>
    <hr>
  {% endfor %}
{% endblock content %}