html {
  height: 100%;
  width: 100%;
}

.heart-button {
  border: 0;
  outline: 0;
}

.search_bar {
  display: flex;
  margin: 0 0 0 auto;
  align-items: center;
}

.footer_ {
  background-color: aliceblue;
}

.wrap {
  height: auto;
  min-height: 100%;
  padding-bottom: 60px;
}

.card_list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.card_list::-webkit-scrollbar {
  height: 0.5em;
  background-color: darkgray;
}

.card_list::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

#myform fieldset {
  display: inline-block;
  direction: rtl;
  border: 0;
}

#myform fieldset legend {
  text-align: right;
}

.myform-input[type=radio] {
  display: none;
}

.myform-label {
  font-size: 2rem;
  color: transparent;
  text-shadow: 0 0 0 #f0f0f0;
}

.myform-label:hover {
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.myform-label:hover~label {
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.myform-input[type=radio]:checked~label {
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}