{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

  <div>
    {% if user.profile_image %}

      <img src="{{ user.profile_image.url }}" alt="{{ user.profile_image }}">
    {% else %}
      <img src="{% static '/images/profile_images/no-avatar.png' %}" alt="profile_image">

    {% endif %}
  </div>
  <div>
    {{user.nickname}}
  </div>
  <div>
    팔로워 수:
    {{followers_number}}
    || 팔로잉 수:
    {{followings_number}}
  </div>
  <div>
    작성한 리뷰 수:
    {{reviews_number}}

  </div>
  <div>
    <a href="{% url 'accounts:profile_update' %}">회원정보 수정</a>
    <a href="{% url 'accounts:password_update' %}">비밀번호 수정</a>
  </div>

{% endblock content %}
