{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <style>
    .small-image {
      width: 3rem;
      height: 3rem;
    }

    .username {
      width: 3rem;
      text-align: center;
    }
  </style>
{% endblock css %}
{% block content %}

  <div class="row">
    <div class="col-6 p-3">
      {% if followers %}
        <h3>팔로워</h3>
        <div class="d-flex">
          {% for follower in followers %}
            <div class="col-4">
              <a href="{% url 'accounts:detail' follower.pk %}" class="text-decoration-none text-dark">
                <div class="d-flex border rounded m-1 p-2">
                  {% if follower.profile_image %}
                    <img src="{{ follower.profile_image.url }}" alt="" class="small-image rounded-circle">
                  {% else %}
                    <img class="small-image rounded-circle" src="{% static '/images/profile_images/no-avatar.png' %}" alt="">
                  {% endif %}
                  <div class="ms-2">
                    <p class="m-0">{{ follower.nickname }}</p>
                    <p style="font-size:0.8rem;" class="m-0">{{ follower }}</p>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h3>팔로워</h3>
        <div>No One</div>
      {% endif %}
    </div>
    <div class="col-6 p-3">
      {% if followings %}
        <h3>팔로잉</h3>
        <div class="d-flex">
          {% for following in followings %}
            <div class="col-4">
              <a href="{% url 'accounts:detail' following.pk %}" class="text-decoration-none text-dark">
                <div class="d-flex border rounded m-1 p-2">
                  {% if following.profile_image %}
                    <img src="{{ following.profile_image.url }}" alt="" class="small-image rounded-circle">
                  {% else %}
                    <img class="small-image rounded-circle" src="{% static '/images/profile_images/no-avatar.png' %}" alt="">
                  {% endif %}
                  <div class="ms-2">
                    <p class="m-0">{{ following.nickname }}</p>
                    <p style="font-size:0.8rem;" class="m-0">{{ following }}</p>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h3>팔로잉</h3>
        <div>No One</div>
      {% endif %}
    </div>
  {% endblock content %}
{% block script %}
  <script>

    const followers = `{{followers}}`
    const followers_0 = `{{followers.0}}`
    // for (const i in followers) {
    //   console.log(i)
    // }
    console.log(followers)
    // console.log(followers_0)

    const btn_next = document.querySelector("#btn-next")
    btn_next.addEventListener('click', function (event) {
      const userId = event
        .target
        .dataset
        .userId
        axios({method: 'get', url: `/accounts/${userId}/showfollow/js`})
        .then((response) => {
          console.log('성공')
        })
        .catch((error) => {
          if (error.response) {
            // 요청이 이루어졌으며 서버가 2xx의 범위를 벗어나는 상태 코드로 응답했습니다.
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
          } else if (error.request) {
            // 요청이 이루어 졌으나 응답을 받지 못했습니다.
            // `error.request`는 브라우저의 XMLHttpRequest 인스턴스 또는
            // Node.js의 http.ClientRequest 인스턴스입니다.
            console.log(error.request);
          } else {
            // 오류를 발생시킨 요청을 설정하는 중에 문제가 발생했습니다.
            console.log('Error', error.message);
          }
          console.log(error.config);
        })
      })
  </script>
{% endblock script %}