<div class='col-3 px-3 pt-3'>
  <h3 class="text-bg-secondary p-3 text-center rounded">
    <a href="{% url 'accounts:detail' user.pk %}" style="text-decoration:none; color:white;">설정</a>
  </h3>
  <ul class='list-group'>
    <li class='pt-2 list-group-item list-group-item-action'>
      <a href="{% url 'accounts:profile_update' %}" style="text-decoration:none; color:black;">프로필 변경</a>
    </li>
    <li class='pt-2 list-group-item'>
      <a href="{% url 'accounts:password_update' %}" style="text-decoration:none; color:black;">비밀번호 변경</a>
    </li>
    <li class='pt-2 list-group-item'>
      <a href="{% url 'accounts:password_update' %}" style="text-decoration:none; color:black;">리뷰 보기</a>
    </li>

  </ul>
</div>