<div class='col-3 px-3 pt-3'>
  <h3 class="text-bg-secondary p-3 text-center rounded">
    <a href="{% url 'accounts:detail' user.pk %}" style="text-decoration:none; color:white;">{{user.username}}님의 프로필페이지</a>
  </h3>
  <ul class='list-group'>
    <li class='pt-2 list-group-item'>
      <form id="follow-form" data-user-id="{{ user.pk }}">
        {% csrf_token %}
        {% if request.user in user.followers.all %}
          <input type="submit" value="언팔로우" class="btn btn-primary">
        {% else %}
          <input type="submit" value="팔로우" class="btn btn-primary">
        {% endif %}
      </form>
    </li>

  </ul>
</div>