{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="my-2">
  <span>
    <b>"{{ query }}"</b>의 검색결과</span>
</div>
<!-- 탭 -->
<div class="container">
  <ul class="nav nav-tabs" style="display: flex; box-sizing: border-box;">
    <li class="nav-item">
      <a href="#movie" data-toggle="tab" aria-current="page" class="nav-link">영화</a>
    </li>
    <li class="nav-item">
      <a href="#review" data-toggle="tab" class="nav-link">리뷰</a>
    </li>
    <li><a href="#user" data-toggle="tab" class="nav-link">유저</a></li>
  </ul>
</div>

<div class="tab-content">
  <div id="movie" class="tab-pane active">
    <!-- 영화 -->
    <div class="container my-3">
      <div class="row mx-auto">
        <div class="inline mb-3">
          <span class="me-2">영화</span>
          <span>
            <a href="#" class="btn btn-danger text-white">
              Top
            </a>
          </span>
        </div>
        <section class="card_list">
          {% for movie in movie %}
          <div class="me-3 mb-3">
            <div class="card boder-0" style="width: 16rem;">
              <a href="{% url 'reviews:movie_detail' movie.pk %}" class="text-decoration-none text-dark">
                <img src="{{ movie.image.url }}" alt="{{ movie.title }}" class="card-img-top mb-2 rounded">
                <h5 class="card-title mx-3">{{ movie.title }}</h5>
                <h6 class="card-subtitle mb-2 mx-3 text-muted">
                  {{ movie.opening_date | date:'Y' }}
                  |
                  {{ movie.producer }}
                </h6>
              </a>
              <div class="card-body">
                <p class="card-text text-truncate">{{ movie.content }}</p>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="row mx-auto">
            <p>검색 결과가 없습니다.</p>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
  <div id="review" class="tab-pane active">
    <!-- 리뷰 -->
    <div class="container my-3">
      <div class="row mx-auto">
        <div class="inline mb-3">
          <span class="me-2">리뷰</span>
          <span>
            <a href="#" class="btn btn-danger text-white">
              Top
            </a>
          </span>
        </div>
        <section class="card_list">
          {% for review in review %}
          <div class="me-3 mb-3">
            <div class="card" style="width: 16rem;">
              <a href="{% url 'reviews:review_detail' review.pk %}" class="text-decoration-none text-dark mx-3 mt-2">
                <h5 class="card-title">{{ review.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ review.created_at | date:'Y-m-d' }}
                  | ★
                  {{ review.grade }}
                </h6>
              </a>
              <div class="card-body">
                <p class="card-text text-truncate">{{ review.content }}</p>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="row mx-auto">
            <p>검색 결과가 없습니다.</p>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
  <div id="user" class="tab-pane active">
    <!-- 유저 -->
    <div class="container my-3">
      <div class="row mx-auto">
        <div class="inline mb-3">
          <span class="me-2">유저</span>
          <span>
            <a href="#" class="btn btn-danger text-white">
              Top
            </a>
          </span>
        </div>
        <section class="card_list">
          {% for user in user %}
          <div class="me-3 mb-3">
            <div class="card" style="width: 16rem;">
              <a href="{% url 'accounts:detail' user.pk %}" class="text-decoration-none text-dark">
                {% if user.profile_image %}
                <img src="{{ user.profile_image.url }}" alt="{{ user.profile_image }}"
                  class="card-img-top mb-2 rounded">
                {% else %}
                <img src="{% static '/images/profile_images/no-avatar.png' %}" alt="no-avatar"
                  class="card-img-top mb-2">
                {% endif %}
                <h5 class="card-title mx-3">{{ user.username }}</h5>
                <h6 class="card-subtitle text-muted mx-3">{{ user.nickname }}</h6>
              </a>
              <div class="card-body"></div>
            </div>
          </div>
          {% empty %}
          <div class="row mx-auto">
            <p>검색 결과가 없습니다.</p>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
</div>
<style>
  a:link {
    color: black;
  }

  a:visited {
    color: black;
  }

  a:hover {
    color: black;
  }

  a:active {
    color: black;
  }
</style>
<script>
  $(function () {
    if (location.hash == "#total") {
      $('.nav-tabs').find('li').eq(0).addClass('active').siblings().removeClass();
      $('.tab-content').find('#total').addClass('active in').siblings().removeClass('active in');
    } else if (location.hash == "#movie") {
      $('.nav-tabs').find('li').eq(1).addClass('active').siblings().removeClass();
      $('.tab-content').find('#movie').addClass('active in').siblings().removeClass('active in');
    } else if (location.hash == "#review") {
      $('.nav-tabs').find('li').eq(2).addClass('active').siblings().removeClass();
      $('.tab-content').find('#review').addClass('active in').siblings().removeClass('active in');
    } else if (location.hash == "#user") {
      $('.nav-tabs').find('li').eq(3).addClass('active').siblings().removeClass();
      $('.tab-content').find('#user').addClass('active in').siblings().removeClass('active in');
    }
  })
  $('html, body').animate({ scrollTop: 0 }, 'fast');
</script>
{% endblock content %}